---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import RepoCard from "@/components/repo-card";
import TextCard from "@/components/text-card";
import PostCard from "@/components/post-card";
import { getFeed } from "@/lib/getFeed";

const posts = await getFeed();
---

<Layout>
	<main class="h-full flex flex-col p-2 gap-5 w-full">
		<TextCard
			title="About me"
			desc="At the moment I'm working through my computer science degree at UTD. On the side I like to work on various projects, write about subjects that interest me, and work towards bettering myself in all aspects of life. You can find updates on what I have been up to on this site."
		/>

		<TextCard
			title="Projects"
			desc="These are passion projects I have worked on or am currently working on. These range from small one-off projects to larger, ongoing endeavors."
		/>
		<RepoCard
			client:load
			title="https://github.com/karppa404/Haste"
			desc="A simple paste server I made."
		/>
		<RepoCard
			client:load
			title="https://github.com/karppa404/Karppa.dev"
			desc="This is the site you are on right now!"
		/>

		<TextCard
			title="Blog"
			desc="Recent posts pulled from my Substack, and youtube channel."
		/>
		<ul class="flex flex-col gap-3">
			{
				posts.map((post:any) => (
					<PostCard
						client:load
						title={post.title}
						link={post.link}
						desc={post.description}
					/>
				))
			}
		</ul>
	</main>
</Layout>
