---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/card";
import Feed from "@/components/Feed.tsx";

---

<Layout>
	<main class="w-full h-full p-6">
		<section id="About" class="w-full h-full mb-10 gap-5">
			<h1 class="text-4xl font-black text-primary underline">
				Hello world👋
			</h1>
			<p class="text-lg mt-2">Developer | Dallas / Texas / US</p>
			<img
				src="/img.png"
				alt="img"
				class="w-full rounded-2xl shadow-xl"
			/>
		</section>

		<section id="Projects" class="w-full h-full mb-10">
			<h1 class="text-4xl font-black text-primary underline">Projects</h1>
			<p class="text-lg mt-2">
				These are passion projects I have worked on or am currently
				working on. These range from small one-off projects to larger,
				ongoing endeavors.
			</p>
			<div class="w-full h-fit grid grid-cols-2 gap-4">
				<Card
					title="Karppa.dev"
					description="The site that you are looking at right now."
					link="https://github.com/karppa404/Karppa.dev"
				/>
						<Card
					title="Haste Server"
					description="Paste server for me to send text content."
					link="https://github.com/karppa404/Haste"
				/>
			</div>
		</section>
		  <section id="Blog" class="w-full h-full mb-10">
    <h1 class="text-4xl font-black text-primary underline">Blog Posts</h1>
		<p class="text-lg mt-2">
				If a topic catches my interest, I will write a blog post about
				it. These posts are usually technical in nature, but I may also
				write about other topics that I find interesting.
			</p>

    <Feed/>
  </section>

		<section id="Videos" class="w-full h-full mb-10">
			<h1 class="text-4xl font-black text-primary underline">Videos</h1>
			<p class="text-lg mt-2">
				If a Project or a topic is interesting enough, I will make a
				video about it. These videos are usually technical in nature,
				but I may also make videos about other topics that I find
				interesting.
			</p>
			<div class="w-full h-fit grid grid-cols-2 gap-4"></div>
		</section>
	</main>
</Layout>
