---
import "@/styles/global.css";
import { FaGithub, FaTwitter, FaRss, FaYoutube } from "react-icons/fa";
import { ModeToggle } from "@/components/mode-toggle";
---

<script is:inline>
	const getThemePreference = () => {
		if (
			typeof localStorage !== "undefined" &&
			localStorage.getItem("theme")
		) {
			return localStorage.getItem("theme");
		}
		return window.matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	};
	const isDark = getThemePreference() === "dark";
	document.documentElement.classList[isDark ? "add" : "remove"]("dark");

	if (typeof localStorage !== "undefined") {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains("dark");
			localStorage.setItem("theme", isDark ? "dark" : "light");
		});
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ["class"],
		});
	}
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/img.png" />
		<title>Karrpa.dev</title>
	</head>
	<body class="font-mono ">
		<div class="min-h-screen flex flex-col md:flex-row max-w-6xl mx-auto">
			<!-- Sidebar -->
			<aside
				class="w-full md:w-64 flex flex-col gap-6 sticky top-0 border-r h-fit p-4"
			>
			<a href="/">
				<div>
					<h1 class="text-4xl font-bold text-primary">Karrpa.dev</h1>
					<p class="text-sm">A Repository of my stuff</p>
				</div>

			</a>
			


				<!-- Social Icons -->
				<div class="flex gap-2 text-xl">
					<a class="hover:text-primary" href="#"><FaGithub /></a>
					<a class="hover:text-primary" href="#"><FaTwitter /></a>
					<a class="hover:text-primary" href="#"><FaRss /></a>
					<a class="hover:text-primary" href="#"><FaYoutube /></a>
					<ModeToggle client:only />
				</div>
			</aside>

			<slot />

	
		</div>
	</body>
</html>
