---
import "@/styles/global.css";
import { FaGithub, FaTwitter, FaRss, FaYoutube } from "react-icons/fa";
import { SiSubstack } from "react-icons/si";

import { ModeToggle } from "@/components/mode-toggle";
---

<script is:inline>
	const getThemePreference = () => {
		if (
			typeof localStorage !== "undefined" &&
			localStorage.getItem("theme")
		) {
			return localStorage.getItem("theme");
		}
		return window.matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	};
	const isDark = getThemePreference() === "dark";
	document.documentElement.classList[isDark ? "add" : "remove"]("dark");

	if (typeof localStorage !== "undefined") {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains("dark");
			localStorage.setItem("theme", isDark ? "dark" : "light");
		});
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ["class"],
		});
	}
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/img.png" />
		<title>Karrpa.dev</title>
	</head>
	<body class="font-mono min-h-screen">
		<!-- nav -->
		<div
			class="w-full flex items-center justify-center sticky top-0 py-4 px-4 bg-background/50 backdrop-blur-lg"
		>
		<div class="w-full md:flex  max-w-6xl justify-between">

			<!-- Left: Site title -->
			<a href="/" class="flex flex-col">
				<h1 class="text-4xl font-bold text-primary">Karrpa.dev</h1>
				<p class="text-sm">A Repository of my stuff</p>
			</a>

			<!-- Right: Social Icons -->
			<div class="flex gap-4 text-xl items-center">
	
				<ModeToggle client:only />
			</div>
		</div>
		</div>

		<!-- Page content -->
		<div class="min-h-screen flex flex-col max-w-3xl mx-auto">
			<slot />
		</div>
	</body>
</html>
